extends layouts/player_layout

block content
  .container.album-container(ng-controller="Album.controller")
    .row.album-header-container
      .col-md-3
        img(ng-src="{{album.albumArtUrl}}", ng-click="changeAlbum()")
      .col-md-8.col-md-push-1
        .album-header-information
          h3.album-title {{ album.name }}
          h4.album-artist {{ album.artist }}  
          h5.album-meta-info {{ album.metaInfo() }}

    .row
      .col-md-12
        table.table.table-hover.album-song-list-table
          tr(ng-repeat="song in album.songs", ng-mouseenter= "showPlay($index)", ng-mouseleave="showTrackNumber($index)"
             ng-class="{'selected-row': rowIsSelected($index)}")
            td.col-md-2(ng-switch="rowState($index)")
              div(ng-switch-when="play")
                |  <i class="fa fa-play", ng-click="showPause($index)")></i>
              div(ng-switch-when="pause")
                |  <i class="fa fa-pause" , ng-click="showClickedPlay($index)"></i>
              div(ng-switch-when="default")
                | {{ $index + 1 }}
              
            td.col-md-8
              | {{ song.name }}
            td.col-md-2
              | {{ song.length }}



            