extends layouts/player_layout

block content
  .container.album-container
    .row.album-header-container
      .col-md-3
        img(class="album-image", src="/images/album-placeholder.png")
      .col-md-8.col-md-push-1
        .album-header-information
          h3.album-title 
          h4.album-artist  
          h5.album-meta-info  

    .row
      .col-md-12
        table.table.table-hover.album-song-list-table


