extends layouts/player_layout

block content
  .container.album-container(ng-controller="Album.controller")
    .row.album-header-container
      .col-md-3
        img(ng-src="{{album.albumArtUrl}}", ng-click="changeAlbum()")
      .col-md-8.col-md-push-1
        .album-header-information
          h3.album-title {{ album.name }}
          h4.album-artist {{ album.artist }}  
          h5.album-meta-info {{ album.year }} on {{ album.label }} 

    .row
      .col-md-12
        table.table.table-hover.album-song-list-table
          tr(ng-repeat="song in album.songs", ng-switch on="selection", ng-mouseenter="showPlay()", ng-mouseleave="showTrackNumber()")
            td(ng-switch-when="default")
              | {{ $index + 1 }}
            td(ng-switch-when="play")
              |  <i class="fa fa-play", ng-click="showPause()")></i>
            td(ng-switch-when="pause")
              |  <i class="fa fa-pause" , ng-click="showPlay()"></i>
            td
              | {{ song.name }}
            td
              | {{ song.length }}



            