extends layouts/player_layout

block content
  .col-md-3
  .col-md-8
    .contianer-paginated-link
      .row
        ul.pagination.pagination-sm
          li(class="your-account") 
            a(href="") YOUR ACCOUNT
          li(class="subscription")
            a(href="") SUBSCRIPTION 